body {
    font-family: Arial, sans-serif;
    margin: 0; /* Establece margen cero en la parte superior e inferior */
    padding: 0;
    background: linear-gradient(135deg, #141A41, #2E4980, #643C99); /* Fondo gradiente de azul oscuro a azul claro a morado */
    color: black; /* Color de texto gris claro */
}

main {
    margin-left: 500px; /* Aumenta el margen izquierdo */
    margin-right: 500px; /* Aumenta el margen derecho */
    padding: 0;
}


header {
    background-image: url('GameTitle.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0; /* Ajusta el padding según sea necesario */
}

h1 {
    margin: 0;
    font-size: 3em; /* Tamaño del título */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background: white;
    color: #643C99; /* Color morado */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px; /* Hace los botones más redondeados */
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para el cambio de color de fondo y texto */
}

.btn:hover {
    background-color: #9479E2; /* Cambia el color de fondo al pasar el ratón */
    color: white; /* Cambia el color del texto a blanco */
}

h2 {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 2em; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Añade espacio inferior */
    text-align: center;
}

.intro, .project, .authors {
    background: #EDEDED; /* Fondo gris claro */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #643C99; /* Color morado */
}

a:hover {
    text-decoration: underline;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ahora se centra horizontalmente */
}

.author-card {
    background: #141A41; /* Fondo morado claro */
    color: #333; /* Color del texto */
    width: 250px; /* Ancho fijo */
    padding: 20px 20px 40px; /* Ajuste del padding para dar espacio al avatar */
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.author-card .avatar-container {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #EDEDED; /* Fondo gris claro */
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.author-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.author-info {
    color: white;
    margin-top: 60px; /* Espacio para el avatar */
    min-width: 200px; /* Ancho mínimo para evitar que se encimen */
}

.author-info h4 {
    margin: 10px 0 5px 0;
    font-size: 1.2em;
}

.author-info p {
    color: white;
    margin: 5px 0;
}

.author-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.author-info a:hover {
    text-decoration: underline;
}
